body {
    display: flex;
    padding: 1em;
    .sidebar {
        flex: 1;
    }   

    .mainContent {
        flex: 3;
    }
}

main {
    .url_content {
        display: flex;
        gap: 1em;

        .button {

        }
    }
}